<div id="main">
	<h2>This is a heading for the page</h2>
	<br/>
	<a href="" class="button">Learn More</a>
</div>
<div id="supporting">
	<h3>This is a subheading</h3>
	<br/>
	<p>
		This is where things happen!
	</p>
</div>
<div id="secondary">
<h2>Stuff in Secondary</h2>
</div>
<div id="discover">
	<h2>This is a subheading for the discover section</h2>
	<br/>
	<a href="" class="button">Learn More</a>
</div>

<div id="footer">
	<p>
		This is where the footer stuff goes.
	</p>
</div>

<div id="navigation">
	<ul>
		<li class="navitem"><a href="">Home</a></li>
		<li class="navitem"><a href="">Blog</a></li>
		<li class="navitem"><a href="">Location</a></li>
		<li class="navitem"><a href="">Contact</a></li>
	</ul>
</div>

<div id="menubutton">Menu</div>